@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 1 0 0;
  --foreground: 0.147 0.004 49.314;
  --card: 0.985 0 0;
  --card-foreground: 0.147 0.004 49.314;
  --muted: 0.970 0.001 106.424;
  --muted-foreground: 0.556 0.003 49;
  --primary: 0.705 0.187 47.602;
  --primary-foreground: 1 0 0;
  --border: 0.923 0.003 48.717;
}
.dark {
  --background: 0.148 0.004 228.8;
  --foreground: 0.985 0 0;
  --card: 0.218 0.008 223.9;
  --card-foreground: 0.985 0 0;
  --muted: 0.275 0.011 216.9;
  --muted-foreground: 0.708 0 0;
  --primary: 0.645 0.194 41.078;
  --primary-foreground: 1 0 0;
  --border: 1 0 0 / 10%;
}
body { background: oklch(var(--background)); color: oklch(var(--foreground)); }
